
@{
    ViewBag.Title = "orderSuccess";
}

<div class="container">
    <div class="row justify-content-center" style="margin-top:20%">
        <div class="col-md-6">
            <div class="captionWrap position-relative">
                <h1 class="text-success text-center">Your order was received</h1>
                <div class="row justify-content-between">
                    <div class="col-6">
                        <a href="/">Back to homepage</a>
                    </div>
                    <div class="col-6 text-end">
                        <a href="/Home/OrderList">Move to your order list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>